<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
		<connectionStrings>
        <add name="ABC_Library_Management_System.Properties.Settings.Library_Management_DatabaseConnectionString"
            connectionString="Data Source=DESKTOP-4P2BI11;Initial Catalog=Library_Management_Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>